source/var/bootstrap.php.cache
source/var/cache/*
!source/var/cache/.gitkeep
source/app/config/parameters.yml
source/var/logs/*
!source/var/logs/.gitkeep
source/bin/
source/vendor/
source/web/bundles/
.idea/
source/.idea